extends layout

block content
  div.container
      h1= title
      p Welcome to our #{title}

      h2 GitHub
      p.git View our source code on github
         a(href='https://github.com/KritterCederholm/overViewCA3') here
