html(lang='en')
head
    title
    meta(http-equiv='contenttype', content='text/html;charset=UTF-8')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/site.css', rel='stylesheet')

    script(src='javascripts/jquery.min.js')
    script(src='javascripts/foundation.js')
    script(src='javascripts/ConfirmDelete.js')
    script(src='javascripts/EditDialog.js')
    script#OrderView(type='text/Html')

        table.OrderView.table.table-striped
            thead
                tr
                    th ID
                    th Date
                    th Name
                    th Address
                tbody.OrderView__List
    script#OrderView__List(type='text/html')
        tr
            td {id}
                td {Date}
                td {Name}
                td {Address}
                td
                    button.btn.btn-warning.glyphicon.glyphicon-film(x-hlr='ViewChange', x-viewchangeact='Details', x-viewchangeid='{index}')
                td
                    button.btn.btn-info.glyphicon.glyphicon-pencil(x-hlr='EditDialog', x-editDialogAct='Show', x-editDialogID='{index}')

                td
                    button.btn.btn-success.glyphicon.glyphicon-trash(x-hlr='ConfirmDelete', x-confirmDeleteAct='Show', x-confirmDeleteid='{index}')

    script#OrderView__ConfirmDelete(type='text/html')
        tr
            td {id}
            td {Date}
            td {Name}
            td {Address}
    script#OrderView__ConfirmDelete__footer(type='text/html')
        button.btn.btn-default(x-hlr='ConfirmDelete', x-confirmDeleteAct='Close') Close
        button.btn.btn-danger(x-hlr='ConfirmDelete', x-confirmDeleteAct='Confirm') Confirm Delete

    script#OrderView__EditDialog(type='text/html')
        tr
            td
                input.grap(type='hidden',name='id', value='{id}')
            td
                input.grap(type='text',name='Date', value='{Date}')
            td
                input.grap(type='text',name='Name', value='{Name}')
            td
                input.grap(type='text',name='Address', value='{Address}')

    script#OrderView__EditDialog__footer(type='text/html')
        button.btn.btn-default(x-hlr='EditDialog', x-editDialogAct='Close') Close
        button.btn(x-hlr='EditDialog', x-editDialogAct='Save') Save

    script#OrderDetails(type='text/html')
        table.OrderDetails.table.table-striped
            tr
                td ID
                td {id}
                td NAME
                td {Name}
                tr
                    td Date
                    td {Date}
                    td Address
                    td {Address}
                tr
                    td Required
                    td {Required}
                    td City
                    td {City}
                tr
                    td Shipped
                    td {Shipped}
                    td Zip
                    td {Zip}
                tr
                    td
                    td
                    td Country
                    td {Country}
                tr
                    td(colspan='6')
                        table
                            thead
                                tr
                                    th Product:_
                                    th Unitprice:_
                                    th Quantity:_
                                    th Discount:_
                                    th Price:_
                            tbody.OrderDetails__Lines.table.table-striped
                            tfoot
                                tr
                                    td Total:
                                    td(colspan='6') {Total}
        button.btn.btn-success(x-hlr='ViewChange', x-viewchangeact='List') Back

    script#OrderDetails__Lines(type='text/html')
            tr
                td {Product}
                    td {UnitPrice}
                    td {Quantity}
                    td {Discount}
                    td {Price}
body
    div.content
    script(src='javascripts/uglything.js')
    .modal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(x-hlr='ConfirmDelete', x-confirmDeleteAct='Close') ×
                    h4.modal-title Do you really want to do this?
                .modal-body
                    p One fine body…
                .modal-footer
                    button.btn.btn-default(x-hlr='ConfirmDelete', x-confirmDeleteAct='Close') Close
                    button.btn.btn-danger(type='button') Confirm Delete